.grids{
    background:green; 
    margin-bottom: 20px;
    padding: 10px;
}
.box{
    height: 80px;
    background:blue; 
    margin-bottom: 10px;
}
.boxes{
    height: 200px;
    background:blue; 
    margin-bottom: 10px;
}
.ads{
     background:darkblue; 
    margin-bottom: 10px;
    height: 150px;
}